@page
@model IndexModel
@{
    ViewData["Title"] = "First Chapter";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, my name is Nekel and I will be the narrator of this story.</p>
</div>